{
    "delegated_admin_acc_id" : "<SECURITY-ACCOUNT-ID>",
    "logging_acc_id" : "<LOGGING-ACCOUNT-ID>",
    "target_regions" : "eu-north-1,ap-south-1,eu-west-3,eu-west-2,eu-west-1,ap-northeast-3,ap-northeast-2,ap-northeast-1,sa-east-1,ca-central-1,ap-southeast-1,ap-southeast-2,eu-central-1,us-east-1,us-east-2,us-west-1,us-west-2",
    "organization_id" : "<AWS-ORGANIZATION_ID>",
    "default_region" : "<DEFAULT-REGION-OF-OPERATION>",
    "role_to_assume_for_role_creation" : "<NAME-OF-ROLE>",

    "finding_publishing_frequency" : "FIFTEEN_MINUTES",
    "guardduty_findings_bucket_region" : "<GUARDDUTY-BUCKET-REGION>",
    "logging_acc_s3_bucket_name" : "<GUARDDUTY-BUCKET-NAME>",
    "logging_acc_kms_key_alias" : "<KMS-ALIAS>",
    "s3_access_log_bucket_name" : "<GUARDDUTY-FINDINGS-BUCKET-ACCESS-LOGS-BUCKET-NAME>",

    "tfm_state_backend_s3_bucket" : "<S3-BUCKET-NAME-FOR-TFM-BACKEND>",
    "tfm_state_backend_dynamodb_table" : "<S3-BUCKET-NAME-FOR-TFM-BACKEND>",
    "tfm_state_region" : "<REGION-FOR-TFM-BACKEND>"
}

